@charset "UTF-8";

/* TYPICAL DEVICE BREAKINGPOINTS(TAMANHO DAS TELAS)
pequenas telas: até 600px
celular:        de 600px até 768px
tablet:         de 768px até 992px
desktop:        de 992 px até 1200px
grandes telas:  acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* TABLETS*/
    body {
        background-image: linear-gradient(to top, #ffe1c6, #fab881);
    }

    section#login {
        height: 350px;
        width: 80vw;
    }

    section#login>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login>div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width :992px) {

    /* DESKTOP*/
    body {
        background-image: linear-gradient(to top, #ffe1c6, #fab881);
    }

    section#login {
        width: 950px;
        height: 400px;
    }

    section#login>div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario>h1 {
        font-size: 2em;
    }

    section#login>div#formulario {
        float: right;
        width: 50%;
        font-size: 1.2em;
    }

    div.campo>input {
        font-size: 1em;
        background-color: #ffffff;
        height: 100%;
        width: calc(100% - 44px);
        border-radius: 5px;
        padding: 4px;
        transform: translate(45px, -48px);
    }

    div.campo > span{
    color:#7a5b41 ;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    transform: translateY(-5px);
}
}